* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
}

a,
input[type=“submit”],
input[type=“button”],
button{
    -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type=“submit”],
input[type=“button”],
button,
.ba-button{
    display: inline-block;
}
input[type=“submit”]:hover,
input[type=“button”]:hover,
button:hover,
.ba-button:hover{

}

input[type=“text”],
input[type=“email”],
input[type=“password”],
input[type=“number”],
input[type=“tel”],
textarea,
select {

    -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type=“text”]:focus,
input[type=“email”]:focus,
input[type=“password”]:focus,
input[type=“number”]:focus,
input[type=“tel”]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-container {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
	margin: 0 auto;
}
.ba-header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 30px;
}
.ba-header .ba-container {
	display: flex;
	justify-content: space-between;;
	align-items: center;
}
.logo {
	margin: 0;
}
.logo__link {
	text-decoration: none;
	color: #fff;
	font-size: 33px;
}
.menu {
	display: flex;
	list-style: none;
}
.menu__item + .menu__item {
	margin-left: 30px;
}
.menu__item {
	overflow: hidden;
}

.ba-hero {
	background-image: url(img/bd.png);
	background-color: #000;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	justify-content: center;
	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
}
b\
.ba-hero__title {
	font-size: 60px;
}
.ba-hero__text {

}
	ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.ba-hero__title {
	font-size: 60px;
}

.ba-hero__text {
	font-size: 30px;
	margin-bottom: 2.16em;
}
.ba-btn {
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	height: 54px;
	font-weight: 500;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	padding: 0 1.25em;
	text-decoration: none;
}
.ba-btn:hover,
.ba-btn:focus {
	background-color: #fff;
	color: #000;
}

.menu__link:after {
	content:"" ;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateX(-100%);
	width: 100%;
	height: 1px;
	background-color: #e71cb4;
	display: inline-block;
	transition: height .5s, transform 1.5s;
	transition-timing-function: cubic-bezier(0.42, 0, 0, 1.12);
}

.menu__link:hover,
.menu_link:focus {
	color: #e71cb4;
}
.menu__link:hover:after,
.menu_link:focus:after {
	transform: translateX(0);
	height: 3px;
}


.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.our-users {
	background-image: -moz-linear-gradient( 90deg, rgb(255,0,204) 0%, rgb(51,51,153) 64%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,0,204) 0%, rgb(51,51,153) 64%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,0,204) 0%, rgb(51,51,153) 64%);
    background-image: linear-gradient( 0deg, rgb(255,0,204) 0%, rgb(51,51,153) 64%);
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 60px;
    color: white;
    text-align: center;
}
.users-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.user-item {
	width: 30%;
}
.our-users__title {
	font-size: 3em;
}
.our-users__desc {
	max-width: 600px;
	margin: 0 auto 30px;
}
.user-item-img-wrapper{
	width: 263px;
	height: 263px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 15px;
}
.user-item__img{
	transition: transform 0.3s;
}
.user-item:hover .user-item__img {
	transform: scale(1.4) rotate(40deg);

}
.menu__link {
	position: relative;
	text-decoration: none;
	color: white;
	font-weight: 500;
}

.menu__link:hover,
.menu__link:focus {
    color:#e71cb4;
}
.article_box {
	width: 1170px;
	margin: 0 auto;
	padding-bottom: 120px;
}

.article_title {
	padding-top: 105px;
	padding-bottom: 70px;
	font-size: 62px;
	color: #e71cb4;
}

.article_text {
	font-size: 32px;
	padding-bottom: 120px;
}

.article_second__title {
	font-size: 36px;
}

.number__color {
	display: inline-block;
}

.number_text {
	font-size: 12px;
}
.article_second_text {
	font-size: 20px;
	padding-top: 73px;
}
.title_start {
	font-size: 30px;
}

.text_small {
	font-size: 14px;
	padding-bottom: 45px;
}
.btn_color {
	border: 2px solid black;
	text-decoration: none;
	background-color: #c60ebe;
	font-size: 22px;
	color: white;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	padding-bottom: 15px;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 15px;
}

.number_text_color {
	word-spacing: 30px;
	font-size: 44px;
	color: #ffde16;
	padding-right: 10px
}
.number_text_color2 {
	word-spacing: 30px;
	font-size: 44px;
	color: #ffbd9e;
	padding-right: 10px
}
.number_text_color3 {
	word-spacing: 30px;
	font-size: 44px;
	color: #20c9e0;
	padding-right: 10px
}
.number_text_color4 {
	word-spacing: 30px;
	font-size: 44px;
	color: #2eac66;
	padding-right: 10px
}
.number_text_color5 {
	word-spacing: 30px;
	font-size: 44px;
	color: #ff6179;
	padding-right: 10px
}
.number_text_color6 {
	word-spacing: 30px;
	font-size: 44px;
	color: #ffde16;
	padding-right: 10px
}

.btn_color:hover,
.btn_color:focus {
	background-color: #fff;
	color: #000;
}


.number__color {
	width: 45%
}
.number__color:nth-child(2n) {
	margin-left: 5%;
}
